<div class="card ">
    <p-sidebar [(visible)]="sidebarVisible" position="left">
        <h3>Admin</h3>
        <a class="pi pi-wallet" routerLink="/billetera" 
        routerLinkActive="active" href="wallet">
            Tu billetera
        </a>
        <br>
        <p class="pi pi-chart-line">
            Historiales
        </p>
        <br>
        <a label="Notificaciones" routerLink="/notificaciones" 
        routerLinkActive="active" class="pi pi-envelope">
            Notificaciones
        </a>
        <br>
        <br>
        <a label="Settings" routerLink="/settings" 
        routerLinkActive="active" class="pi pi-wrench">
            Settings
        </a>
        <br>
        <br>
        <a label="Inicio" routerLink="/dashboard-admin" 
        routerLinkActive="active" class="pi pi-home">
            Inicio
        </a>
    </p-sidebar>
    <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
</div>
